<div class="card m-auto p-4 shadow-lg" style="max-width: 600px">
  <div class="card-title">Create new project</div>
  <form hx-post="/api/project" hx-swap="none">
    <div class="card-body">
      <label for="name" class="mt-2">Name</label>
      <input id="name" name="name" type="text" class="form-control" required />
      <br />
      <label for="description" class="mt-2">Description</label>
      <input
        id="description"
        name="description"
        type="text"
        class="form-control"
      />
    </div>
    <div class="text-end">
      <a href="/" class="btn btn-outline-danger me-2">Cancel</a>
      <button type="submit" class="btn btn-primary">Confirm</button>
    </div>
  </form>
</div>
