<!-- <div class="card mb-3">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="card-title mb-0">
      <span class="text-muted">Evento:</span>
      <span class="fst-italic fw-bold">{{eventType}}</span>
    </h5>
    <small class="text-muted">{{createdAt}}</small>
  </div>

  <div class="card-body">
    <div class="mb-3">
      <strong>User ID:</strong>
      <span class="text-secondary">{{userId}}</span>
    </div>

    <div id="custom_fields">
      <strong>Custom Fields:</strong>
      <pre
        class="bg-light border rounded p-2 mt-2"
      ><code>{{customFields}}</code></pre>
    </div>
  </div>
</div>-->

<tr>
  <td>{{userId}}</td>
  <td>{{eventType}}</td>
  <td>{{createdAt}}</td>
  <td><code>{{customFields}}</code></td>
</tr>