<div
  class="card mb-3 shadow-sm"
  style="max-width: 540px; cursor: pointer;"
  hx-get="/redirect/project/{{id}}"
  hx-trigger="click"
>
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="/public/project_icon.png"
        class="img-fluid rounded-start"
        alt="Project Icon"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text">
          <small class="text-muted">Last edited: {{lastEdited}}</small>
        </p>
      </div>
    </div>
  </div>
</div>
